@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
	scroll-behavior: smooth;
}

/* Hide scrollbar globally */
::-webkit-scrollbar {
	display: none;
}

/* Firefox */
* {
	scrollbar-width: none;
}

/* IE & Edge */
* {
	-ms-overflow-style: none;
}
